<% content_for(:title) { "Profile" } %>

<div class="mx-auto md:w-2/3 w-full">
   <h1 class="font-bold text-4xl text-center">Editing user</h1>

  <%= form_with model: @user, class: "contents" do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <% if @user.avatar.present? %>
        <div class="mb-2">
          <%= image_tag @user.avatar.variant(:small), size: 80, class: "rounded-full object-cover h-20" %>
        </div>
      <% end %>
      <%= form.file_field :avatar, class: "form-control", accept: "image/png,image/jpeg,image/webp" %>
    </div>

    <div class="my-5">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, autofocus: true, class: "form-control", placeholder: "e.g. Alan Turing" %>
    </div>

    <div class="my-5">
      <%= form.label :bio, class: "form-label" %>
      <%= form.rich_textarea :bio, class: "form-control min-h-40", placeholder: "e.g. English mathematician, computer scientist, logician, cryptanalyst, philosopher and theoretical biologist.", data: { controller: "trix", trix_unused_components_value: [".trix-button-group--block-tools", ".trix-button-group--file-tools", ".trix-button-group--history-tools"] } %>
    </div>

    <div class="inline">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>

  <fieldset class="border border-red-600 rounded-md p-8 mt-24">
    <legend class="text-red-600">Danger zone</legend>

    <%= form_with model: @user, method: :delete, class: "contents", data: { controller: "confirmation" } do |form| %>
      <div class="mb-5">
        <label for="confirmation" class="form-label">Type "DELETE" to confirm</label>
        <input id="confirmation" class="form-control" placeholder="DELETE" data-confirmation-target="input" data-confirmation-content="DELETE" data-action="confirmation#check" />
      </div>
      <%= form.submit "Destroy my account", class: "btn btn-primary", disabled: true, data: { confirmation_target: "item" } %>
    <% end %>
  </fieldset>
</div>