<header>
  <nav class="mx-auto max-w-3xl flex items-center justify-between  p-4" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to authenticated? ? author_posts_path(Current.user.slug) : root_path do %>
        <span class="sr-only">Blog</span>
        <%= image_tag "message-square-text.svg", size: 30, alt: "logo" %>
      <% end %>
    </div>
    <div class="flex items-center gap-8">
      <% if authenticated? %>
        <%= link_to new_post_path, class: "btn btn-primary text-sm py-1 px-4" do %>
          <div class="flex items-center gap-x-1.5">
            <%= image_tag "pencil.svg", size: 16, style: "filter:  brightness(0) invert(1);", alt: "Pencil" %>
            <span>Write</span>
          </div>
        <% end %>
        <div class="relative flex" data-controller="dropdown">
          <button type="button" class="font-semibold text-base text-gray-900 cursor-pointer" data-action="dropdown#toggle click@window->dropdown#hide">
            <%= image_tag Current.user.avatar.presence || "user-circle.svg", size: 30, class: "rounded-full h-7.5", alt: "Avatar" %>
          </button>
          <div class="absolute right-0 top-10 z-10 rounded shadow-md bg-gray-100 min-w-64 transition transform origin-top-right hidden" data-dropdown-target="menu" data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100" data-transition-leave-to="opacity-0 scale-95">
            <ul class="flex flex-col gap-y-2 p-4">
              <li>
                <%= link_to drafts_path, class: "flex gap-x-2 rounded-md py-1 px-2 hover:bg-gray-200" do %>
                  <%= image_tag "book-marked.svg", size: 16, alt: "Book" %>
                  <span class="text-base font-semibold text-gray-800">Posts</span>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_path, class: "flex gap-x-2 rounded-md py-1 px-2 hover:bg-gray-200" do %>
                  <%= image_tag "user-pen.svg", size: 16, alt: "User" %>
                  <span class="text-base font-semibold text-gray-800">Profile</span>
                <% end %>
              </li>
            </ul>
            <hr />
            <div class="p-4">
              <%= button_to "Sign out", Current.session, method: :delete, class: "rounded-full bg-gray-500 hover:bg-gray-400 font-normal text-sm text-white py-1 w-full cursor-pointer" %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to "Sign in", new_session_path, class: "text-sm text-gray-600 font-semibold" %>
        <%= link_to "Get started", new_registration_path, class: "btn btn-primary text-sm py-1 px-3" %>
      <% end %>
    </div>
  </nav>
</header>
