<header class="bg-white border-b">
  <nav class="mx-auto max-w-3xl flex items-center justify-between  p-4" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to root_path do %>
        <span class="sr-only">Blog</span>
        <%= image_tag "chat-bubble-bottom-center-text.svg", size: 24, alt: "logo" %>
      <% end %>
    </div>
    <div class="flex items-baseline gap-8">
      <%= link_to new_post_path, class: "text-sm text-gray-600 font-semibold" do %>
        <div class="flex items-center gap-x-2">
          <%= image_tag "pencil-square.svg", size: 18 %>
          <span class="pt-0.5">Write</span>
        </div>
      <% end %>
      <div class="relative flex" data-controller="dropdown">
        <button type="button" class="text-base text-gray-900 font-semibold" data-action="dropdown#toggle click@window->dropdown#hide">
          <%= image_tag Current.user.avatar.presence || "user-circle.svg", size: 24, class: "rounded-full h-6" %>
        </button>
        <div class="absolute right-0 top-8 border rounded shadow bg-white min-w-64 transition transform origin-top-right hidden" data-dropdown-target="menu" data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100" data-transition-leave-to="opacity-0 scale-95">
          <ul class="flex flex-col gap-y-2 p-4">
            <li><%= link_to "My Blog", author_posts_path(Current.user.slug), class: "block text-base text-gray-600 font-normal hover:text-gray-900" %></li>
            <li><%= link_to "Drafts", drafts_path, class: "block text-base text-gray-600 font-normal hover:text-gray-900" %></li>
            <li><%= link_to "Archives", archives_path, class: "block text-base text-gray-600 font-normal hover:text-gray-900" %></li>
            <li><%= link_to "Profile", edit_user_path, class: "block text-base text-gray-600 font-normal hover:text-gray-900" %></li>
          </ul>
          <hr />
          <div class="p-4">
            <%= button_to "Sign out", Current.session, method: :delete, class: "rounded-full bg-gray-500 text-sm text-white font-normal w-full py-1 hover:bg-gray-400" %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
