<% content_for :title, @author.name %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, author_posts_url(format: :atom), title: "Feed" %>
<% end %>

<div class="w-full">
  <header class="text-center">
    <%= link_to author_posts_path(@author.slug) do %>
      <%= image_tag @author.avatar.presence || "user-circle.svg", size: "48", class: "inline-flex rounded-full object-cover h-12" %>
      <p class="font-semibold text-xl mt-2"><%= @author.name.upcase %></p>
    <% end %>
    <div class="mt-8"><%= @author.bio %></div>
  </header>

  <section id="posts" class="mt-16">
    <%= render @posts %>
  </section>
</div>
