<% content_for :title, @author.name %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, author_posts_url(format: :atom), title: "Feed" %>

  <%= tag.meta property: "description", content: @author.name %>
  <%= tag.meta property: "robots", content: "index, follow" %>

  <%= tag.meta property: "og:site_name", content: "Blog" %>
  <%= tag.meta property: "og:type", content: "article" %>
  <%= tag.meta property: "og:url", content: author_posts_url(@author.slug) %>
  <%= tag.meta property: "og:title", content: @author.name %>
  <%= tag.meta property: "og:description", content: @author.name %>
  <%= tag.meta property: "og:image", content: @author.avatar.present? ? url_for(@author.avatar) : image_url("user-circle.svg") %>

  <%= tag.meta property: "twitter:title", content: @author.name %>
  <%= tag.meta property: "twitter:description", content: @author.name %>
  <%= tag.meta property: "twitter:image", content: @author.avatar.present? ? url_for(@author.avatar) : image_url("user-circle.svg") %>
  <%= tag.meta property: "twitter:card", content: "summary_large_image" %>
<% end %>

<div class="w-full">
  <header class="text-center">
    <%= link_to author_posts_path(@author.slug) do %>
      <%= image_tag @author.avatar.presence || "user-circle.svg", size: "48", class: "inline-flex rounded-full object-cover h-12" %>
      <p class="font-semibold text-xl text-primary-400 mt-2"><%= @author.name.upcase %></p>
    <% end %>
    <div class="mt-8"><%= @author.bio %></div>
  </header>

  <section id="posts" class="mt-16">
    <%= render @posts %>
  </section>
</div>
