<% content_for(:title) { @post.title } %>

<% content_for :head do %>
  <%= tag.meta property: "og:title", content: @post.title %>
  <%= tag.meta property: "og:url", content: author_post_url(@post.user.slug, @post.slug) %>
<% end %>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @post %>

    <%= link_to "Edit this post", edit_post_path(@post), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to posts", author_posts_path(@post.user.slug), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="flex gap-x-2">
      <%= blog_post_life_cycle_options @post %>
    </div>

    <%= form_with scope: :subscriber, url: author_subscribers_path(@post.user.slug), class: "contents" do |form| %>
      <div class="my-5">
        <%= form.label :title, "Subscribe to get future posts via email" %>
        <%= form.email_field :email_address, required: true, placeholder: "Enter your email address", class: "block shadow rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="inline">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
